/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* 
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
*/

.navbar {
    position: relative;
    z-index: 1;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 20px #fff;
    justify-content: space-around;
    display: flex;
}

    .navbar a {
        text-transform: capitalize;
        color: black !important;
        letter-spacing: 2px;
        font-size: 20px;
        /* color: #000; */
        /* color: #1c72ab;
    font-size: 18px; */
        font-weight: 400;
        text-align: right;
        text-decoration: none;
    }

        .navbar a:active,
        .navbar a:hover,
        .navbar a:focus {
            color: #D6A2E8 !important;
            font-weight: 600;
        }

.navbar-toggler-icon {
    width: 50px;
}
/* Sticky footer styles
-------------------------------------------------- */
.fa {
    padding: 20px;
    font-size: 23px !important;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}


/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/
