
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="body">
        <div>
            <p>Password reset link has been sent to your email. please check your inbox :)</p>
        </div>
        <div>
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Your Inbox</a>
        </div>
    </div>
</div>

