@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}



<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendSms">
		@*<form asp-action="SendResetPasswordUrl">*@

			<div asp-validation-summary="ModelOnly"></div>
			<input class="text Email w3lpass" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>		
			<input type="submit" value="RESET PASSWORD" style="background:  #D6A2E8 !important;  border: 1px solid #D6A2E8 !important;">
		</form>
		<p style="background-color:transparent">Don't have an Account? <a asp-action="SignUp"> Register Now!</a></p>
		<p style="background-color:transparent">
			<a asp-action="ForgetPassword"> Forget Password?</a>
		</p>

	</div>
</div>

@section ValidationScriptSection{
	<partial name="_ValidationScriptsPartial" />
}


