@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}

<div class ="text-center">

    <p class="display-4" style="justify-content:center; align-items:center; margin-top:400px;">Use this page to detail your site's privacy policy.</p>
</div>