@model RoleViewModel


<div class="field-wrapper mb-3 form-group">
    <label class="form-label" asp-for="RoleName"></label>
    <input class="form-control" asp-for="RoleName"  style=" box-shadow: none;" />
</div>




