@model RoleViewModel

<div class="field-wrapper mb-3 form-group">
    <label class="form-label" asp-for="Id"></label>
    <input class="form-control" asp-for="Id" readonly style=" box-shadow: none;" />
</div>
<div class="field-wrapper mb-3 form-group">
    <label class="form-label" asp-for="RoleName"></label>
    <input class="form-control" asp-for="RoleName" readonly style=" box-shadow: none;" />
</div>


