@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Are You Sure To Delete This Employee ?</h1>

<section class="container-fluid">
    <form asp-action="Delete" class="form ">
        <div asp-validation-summary="All"></div>@*list the whole form error message*@
        <div class="face face-top ">
            <div class="content">
                <div class="mb-3 mt-3 field-wrapper">
                    <div class="content mt-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <partial name="PartialViews/DetailsDeleteRolePartialView" />
                                <div class="field-wrapper mb-3 ">
                                    <button type="submit" class="btn btn-danger login">Delete</button> |
                                    <a asp-action="Index" class=" btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</section>

