@model UserViewModel

<div class="field-wrapper mb-3 form-group">
    <label class="form-label" asp-for="FName"></label>
    <input class="form-control" asp-for="FName" style=" box-shadow: none;" />
    <span asp-validation-for="FName" class="text-danger"></span>
</div>
<div class="field-wrapper mb-3 form-group">
    <label class="form-label" asp-for="LName"></label>
    <input class="form-control" asp-for="LName" style=" box-shadow: none;" />
    <span asp-validation-for="LName" class="text-danger"></span>
</div>
<div class="field-wrapper mb-3 form-group">
    <label asp-for="PhoneNumber" class="form-label"></label>
    <input asp-for="PhoneNumber" class="form-control" style=" box-shadow: none;" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>




