@model UserViewModel

<div class="field-wrapper mb-3 form-group">
    <label class="form-label" asp-for="Id"></label>
    <input class="form-control" asp-for="Id" readonly style=" box-shadow: none;" />
</div>
<div class="field-wrapper mb-3 form-group">
    <label class="form-label" asp-for="FName"></label>
    <input class="form-control" asp-for="FName" readonly style=" box-shadow: none;" />
</div>
<div class="field-wrapper mb-3 form-group">
    <label asp-for="LName" for="LName" class="form-label"></label>
    <input asp-for="LName" readonly class="form-control" style=" box-shadow: none;" />
</div>
<div class="field-wrapper mb-3 form-group">
    <label asp-for="Email" for="Email" class="form-label"></label>
    <input asp-for="Email" readonly class="form-control" style=" box-shadow: none;" />
</div>
<div class="field-wrapper mb-3 form-group">
    <label asp-for="PhoneNumber" for="PhoneNumber" class="form-label"></label>
    <input asp-for="PhoneNumber" readonly class="form-control" style=" box-shadow: none;" />
</div>
<div class="field-wrapper mb-3 form-group">
    <label asp-for="Roles" for="Roles" class="form-label"></label>
    <input asp-for="Roles" readonly class="form-control" style=" box-shadow: none;" />
</div>

